$calendar-border: #333;
$cell-border: #333;

$border-color: #333;

@import 'react-big-calendar/lib/sass/styles';

.rbc-calendar {
    .rbc-day-slot {
        background-color: #0f0f0f;
    }

    .rbc-today {
        background-color: #1b1b1b;
    }
    
    .rbc-toolbar-label {
        @media screen and (max-width: 991px) {
            width: 100%;
        }
    }
}