@import '~bootstrap-4-grid/scss/grid.scss';
@import '~normalize.css/normalize.css';

@import 'common/scss/variables';
@import 'common/scss/fonts';

* {
  box-sizing: border-box;
}

html,
p,
a,
li,
span,
button,
input,
textarea {
  font-family: $main-font , $defailt-fonts;
  color: $white;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: $main-font , $defailt-fonts;
  font-feature-settings: "kern" 1;
  background-color: #000000;
  color: #A4A4A4;
  -webkit-tap-highlight-color: transparent;
  
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

h1,
h2, 
h3, 
h4,
h5, 
h6 {
  display: inline-block;
  color: $white;
}